# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.ag
*.lib

# Executables
*.exe
*.out
*.app
**/build/*
**/obj/*

# SDSL
sdsl/

# S9
s9/

# Google benchmark
benchmark/
